@{
    ViewData["Title"] = "About";
}

<div class="row">
    <h4>Summary</h4>
    <div class="col-md-8">
        <p>
            Hello, and thanks for taking the time to read about me. I am a United State Navy submarine veteran who has transitioned into a career in software engineering. I very much enjoy learning about new technologies and helping others learn, as well. I’ve attained an Associate’s Degree in Technical Studies, and Bachelor’s Degrees in both Computer Engineering and Electrical Engineering. I very much enjoy writing code, and especially working with .NET technologies. I’m currently working as a software engineer for a small engineering firm that works in the transportation industry and volunteer as the Hampton Roads Chapter Leader of Operation Code. I’m a tattoo enthusiast and have been working developing a business around a Tattoo Community Application called Tattwho. This project has driven me to learn more about entrepreneurship and participating in a mastermind group at Old Dominion Innovation Center where we collectively help people develop business models for their entrepreneurial ideas.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/images/lb3_operation_code.jpg" alt="" class="img-responsive" />
    </div>
</div>

<div class="row">
    <h4>Want to know more? Keep reading for the the nitty gritty.</h4>
</div>

<div class="row">
    <h6>Military Service</h6>
    <div class="col-md-8">
        <p>
            My career started with an enlistment in the US Navy directly after graduating high school. I volunteered for submarine duty and after boot camp and basic submarine training, I was stationed aboard the USS Helena in San Diego, California. I served aboard USS Helena for 4 years and enjoyed my job as a Fire Control Technician, which is an electronics technician that operates and maintains the submarine weapons systems. During my time onboard USS Helena, I went on a couple of deployments, served as Fire Control system expert during an engineering overhaul, and developed and delivered training for the Fire Control division and Weapons department. I utilized the US military tuition assistance program to attain an Associate's Degree in Technical Studies from Excelsior College by 2010. I was honorably discharged in August 2011 and enrolled in the engineering program at Old Dominion University.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/images/lb3_us_navy.jpg" alt="" class="img-responsive" />
    </div>
</div>

<div class="row">
    <h6>Education</h6>
    <div class="col-md-6">
        <p>
            I originally enrolled in the electrical engineering program during July of 2011. I appreciated school much more after having worked for a few years, and I found that I was able to help lift up classmates who struggled with material as well. The majority of the programming in my curriculum revolved around C++, and that reinforced the idea that I should stay away from programming. I was introduced to C# during an internship in 2014 and that’s when I really began to enjoy software development. After working with C# at the internship, I found out that I could double major with only one additional semester of school since I already had an associate's degree. I added computer engineering as a second major. I graduated in May of 2015 with two Bachelor’s Degrees in Electrical Engineering and Computer Engineering, respectively.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/images/lb3_education.jpg" alt="" class="img-responsive" />
    </div>
</div>

<div class="row">
    <h6>Entrepreneurship</h6>
    <div class="col-md-9">
        <p>
            After school, I began working on a personal project called Tattwho using ASP.NET MVC 5 and various other technologies as a means to get better at software development. This served as my learning ground to try out various software design patterns and .NET libraries. This project helped me to grow rather quickly and become versed in domain driven design and Azure technologies. I was able to develop an MVP and get 100 users to try out the application getting very positive feedback. This opened my eyes to the power of knowledge in software engineering. Software developers have the ability to turn an idea into a business with very little monetary risk. This has driven my entrepreneurial spirit and appreciation for relating business concepts to software development.
        </p>
    </div>
    <div class="col-md-3">
        <img src="~/images/lb3_education2.jpg" alt="" class="img-responsive" />
    </div>
</div>

<div class="row">
    <h6>Volunteering</h6>
    <div class="col-md-6">
        <p>
            In late 2016, I began to feel the urge to recover the feeling of comradery that was left behind after the military. I started to search for local resources for teaching veterans to code. I found Operation Code and it seemed like the perfect organization for me to volunteer mentorship to veterans who wanted to learn software development. After helping a handful of veterans with mock interviews and resume building, I sought out to get a local chapter started. I got the support of a couple of venues and began having hosting monthly meetups to train veterans software development skills. Operation Code has been a great outlet for me to learn, teach, and help the military and Hampton Roads community.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/images/lb3_operation_code3.jpg" alt="" class="img-responsive" />
    </div>
</div>
